<ion-view view-title="Contacts" ng-controller="ContactsController as vm">
  <ion-content on-swipe-right="vm.goTo('/login')" on-swipe-left="vm.goTo('/tab/admin-clients')" scroll="false" padding="true" class="page contacts">
    <h1>Contacts</h1>
    <ion-list>
      <ion-item>
        Joel Brewer
      </ion-item>
      <ion-item>
        Cody Fedell
      </ion-item>
      <ion-item>
        Tanya Brewer
      </ion-item>
      <ion-item>
        Buster Bluth
      </ion-item>
      <ion-item>
        Lucille Bluth
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

